@font-face {
  font-family: HUN;
  src: url("./font/HunDIN1451.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  font-size: 36px;
  font-family: HUN;
  width: 200px;
  height: 100px;
}

.outside {
  width: 200px;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 10px;
}

.title {
  font-size: 0.35em;
  padding-bottom: 3px;
  width: 200px;
}

.rating {
  display: flex;
  align-items: center;
}

.rank_png {
  height: 1.1em;
  vertical-align: -20%;
  margin-top: -0.2em;
  margin-right: 0.2em;
}

.tr {
  text-shadow: 0 2px #939393, 0 0 16px #fff4;
}

.s75 {
  font-size: 0.75em;
}

.stats {
  margin-top: 0.2em;
  display: flex;
  align-items: center;
}

.stat {
  margin: 0 0.4em;
  font-size: 0.35em;
}
